
<div class="footer">
    
		<div class="container">	     
			<div class="row agileits_w3layouts_footer_grids">
          <div class="col-md-3">
              <img src="assets/mesonlogo.png" class="center mb-2" style="width:100%; height:auto">
          </div>
        
				<div class="col-md-3 agileits_w3layouts_footer_grid">
          <h3>Direccion</h3>
          <ul>
              <li>Carrera 54 Avenida El...</li>
              <li>Centro Commerical Automotriz, Local 104</li>
              <li>Medellin, Colombia</li>          
            </ul>
				</div>
				<div class="col-md-3 agileits_w3layouts_footer_grid">
					<h3>Horario</h3>
					<p>Lunes a Sabado <i>8AM a 3PM</i></p>
				</div>
				<div class="col-md-3 agileits_w3layouts_footer_grid">
					<h3>Contactenos</h3>
					<ul>
						<li><span>Correo :</span> <a href="mailto:info@example.com">mesonautomotriz@gmail.com</a></li>
						<li><span>Telefono :</span> <a href="mailto:info@enquiry.com">232-5168</a></li>
					</ul>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
  </div>
  <div class="wthree_copy_right copyright">
      <div class="container">
        <p>© 2018. All rights reserved | Designed by JCL | Version 1.4</p>
      </div>
    </div>