<div class="row">
  <div class="col-md-6">
    <a routerLink="/" class="btn btn-link">
      <i class="fa fa-arrow-circle-o-left"></i>
      Regresar
    </a>

  </div>
  <div class="col-md-6">
    <div *ngIf="isAdmin" class="btn-group pull-right">
      <button (click)="onDeleteClick()" class="btn btn-danger">
        Borrar Orden
      </button>
    </div>
  </div>
</div>
<hr>
<div *ngIf="order" class="card">

  <h3 class="card-header">Orden: {{order.id}} 
    <button *ngIf="isAdmin" type="submit" (click)="print()" class="btn btn-primary pull-right"> 
        <i class="fa fa-print"></i>
       Imprimir
    </button>
  </h3>
  <div class="card-body">
    <div class="row">
      <div class="cold-md-8 col-sm-6">
        <label>
          <img src="assets/user.svg" class="icon-sm">
          <b>Cliente:</b> {{order.customerName}}</label>
        <br>
        <label>
          <img src="assets/home.svg" class="icon-sm">
          <b>Direccion:</b> {{customerAddress}}</label>
      </div>
      <div class="cold-md-8 col-sm-6">
        <h3 class="pull-right">
          Precio Total
          <span [class.text-danger]="hasBalance" [class.text-success]="!hasBalance">
            {{totalPrice | currency:'USD': 'symbol' | changeDecimal}}
          </span>
        </h3>
      </div>
    </div>

    <ul class="list-group">
      <li class="list-group-item">
        <div *ngIf="isAdmin" class="clearfix">
          <div class="input-group">
            <label class="mr-2">
              <img src="assets/list.svg" class="icon-sm">
              <b> Estado de Pedido: </b>
            </label>

            <select [value]="order.status" style="max-width: 40%" class="form-control" name="inventoryId" [(ngModel)]="order.status">
              <option *ngFor="let x of statusOptions" value={{x}}>{{x}} </option>
            </select>
            <span *ngIf="order.status == 'Recibida'" class="input-group-btn">
              <button type="submit" (click)="changeStatus('Aprobada')" class="btn btn-success">Aprobar</button>
            </span>
            <span *ngIf="order.status == 'Recibida'" class="input-group-btn">
              <button type="submit" (click)="changeStatus('Rechazada')" class="btn btn-danger">Rechazar</button>
            </span>
            <span *ngIf="order.status == 'Aprobada'" class="input-group-btn">
              <button type="submit" (click)="changeStatus('Lista')" class="btn btn-primary">Lista</button>
            </span>
            <span *ngIf="order.status == 'Lista'" class="input-group-btn">
              <button type="submit" (click)="changeStatus('Enviada')" class="btn btn-primary">Enviar</button>
            </span>
          </div>

          <label *ngIf="order.rejectionReason">Razon de Rechazo: {{order.rejectionReason}}</label>
          <br>
          <label>Domicilio: {{order.deliveryBoy}}</label>
        </div>
        <div *ngIf="!isAdmin">
          <label>
            <img src="assets/list.svg" class="icon-sm">
            <b>Estado de Pedido:</b>
            <i *ngIf="order.status == 'Recibida' " class="fa fa-square-o"></i>
            <i *ngIf="order.status == 'Aprobado' " class="fa fa-check-square-o"></i>
            <i *ngIf="order.status == 'Rechazada' " class="fa fa-exclamation-triangle"></i>
            <i *ngIf="order.status == 'Lista' " class="fa fa-star"></i>
            <i *ngIf="order.status == 'Enviada' " class="fa fa-paper-plane"></i>
            {{order.status}}
          </label>
          <label *ngIf="order.rejectionReason">{{order.rejectionReason}}</label>
        </div>
      </li>

      
      <li class="list-group-item">
        <div class="clearfix">
          <form (submit)="print()">
            <div class="input-group">
              <label class="mr-2">
                <img src="assets/notepad.svg" class="icon-sm">
                <b>Nota / Instrucciones Especiales:</b>
              </label>
              <textarea class="form-control" name="note" rows="1" [(ngModel)]="order.note" style="max-width: 40%"></textarea>
              <span class="input-group-btn">
                <button type="submit" class="btn btn-primary">Actualizar</button>
              </span>
            </div>
          </form>
        </div>
      </li>
      <li class="list-group-item">
        <img src="assets/time.svg" class="icon-sm">
        <b>Hora Recibida:</b> {{order.timeReceived | date:'dd-MM-yyyy HH:mm a'}} |
        <b>Hora Enviada:</b> {{order.timeEnviada | date:'dd-MM-yyyy HH:mm a'}}</li>
    </ul>
    <hr>
    <h4>
      <img src="assets/cart.svg" class="icon"> Items
      <button *ngIf="isAdmin" class="btn btn-success btn-sm" (click)="openDialog()">
        <i class="fa fa-plus"></i> Adicionar Item </button>
    </h4>
    <div style="overflow:scroll; max-height:400px;">
      <table class="table table-striped table-hover" style='margin:auto; width:100%'>
        <thead>
          <tr>
            <th>Descripción</th>
            <th>Cantidad</th>
            <th>Precio por Unidad</th>
            <th>Precio Total</th>
            <th>Borrar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let lineItem of order.lineItems; let i = index">
            <td>{{lineItem.description}}</td>
            <td>{{lineItem.quantity}}</td>
            <td>{{lineItem.pricePerUnit | currency:'USD': 'symbol' | changeDecimal }}</td>
            <td>{{lineItem.quantity * lineItem.pricePerUnit | currency:'USD': 'symbol' | changeDecimal }}</td>
            <td>
              <a class='text-center' (click)="deleteLineItem(i) " class="btn btn-secondary btn-sm">
                <i class="fa fa-trash"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <a *ngIf="isAdmin" (click)="updateOrder()" class="btn btn-lg btn-warning">
    <i class="fa fa-plus"></i> Actualizar Order
  </a>
  <br>
  <br>


<div id="print" style="display: none; max-width:100px" >
    <label><b>Restaurante El Meson</b></label> <br>
    <label><b>Orden:</b> {{order.id}}</label> <br>
    <label>
        <b>Cliente:</b> {{order.customerName}} | <b>Direccion:</b> {{customerAddress}} 
    </label>
    <br>
    <label><b>Nota:</b> {{order.note}}</label>
    <br>
    <label> <b>Hora Recibida:</b> {{order.timeReceived | date:'dd-MM-yyyy HH:mm a'}}</label>
      <div >
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th>Ctd</th>
              <th>Desc</th>  
              <!-- <th>Precio C/U</th> -->
              <th>Total</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let lineItem of order.lineItems; let i = index">
                <td>{{lineItem.quantity}}</td>
              <td style="width:250px">{{lineItem.description}}</td>              
              <!-- <td>{{lineItem.pricePerUnit | currency:'USD': 'symbol' | changeDecimal }}</td> -->
              <td>{{lineItem.quantity * lineItem.pricePerUnit | currency:'USD': 'symbol' | changeDecimal }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <h4 class="pull-right">
          Precio Total:
          <span [class.text-danger]="hasBalance" [class.text-success]="!hasBalance">
            {{totalPrice | currency:'USD': 'symbol' | changeDecimal}}
          </span>
      </h4>
    </div>
  </div>