<h1 mat-dialog-title>{{selectedListTitle}}</h1>

<mat-dialog-content>
  <form> 
      <div class="form-group row">
        <label for="staticEmail" class="col-sm-3 col-form-label mr-1">Razon </label>
        <div class="col-sm-9">
          <select class="form-control" name="rejectionReason" [(ngModel)]="rejectionReason">
            <option *ngFor="let x of rejectionReasonOptions" value={{x}}>{{x}} </option>
          </select>
        </div>
      </div>
  </form>
      <button type="button" class="btn btn-success" (click)="selectRejectionReason()">
        <i class="fa fa-plus"></i>Seleccionar Razon</button>
</mat-dialog-content>
